ul{
    margin:0 auto;
    text-align: center;
    padding:0 22em;
}

li{
    display: inline-block;
    vertical-align: top;
}

.title-center{
    color: white;
    font-family: 'Kaushan Script';
    font-size: 2em;
}
