@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Kaushan+Script&display=swap');


.reviews{
    padding: 2em;
}

h1{
    color: rgb(249, 243, 66);
    font-family: 'Arizonia', cursive;
    font-size: 6vw;
    text-align: center;
    padding:0.3em;

}

p{
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Kaushan Script', cursive;
    margin-top: 5vw;
    text-align: center;
    font-size: 1.5vw;
}

.title-center{
    color: yellow;
    font-family: 'Arizonia', cursive;
    font-size: 0em;
}


